
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">

	<div th:replace="fragments/header :: header" />

	<div th:replace="fragments/leftside :: leftside" />

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Page Owner</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<!-- <button type="button" class="btn btn-default"
										data-toggle="modal" data-target="#updateModal">Launch
										Extra Large Modal</button> -->
									<button type="button" class="btn btn-success "
										data-toggle="modal" data-target="#registerModal" th:onclick="registerModel()">
										<i class="fas fa-plus"></i>
										<span>Add New</span>
									</button>
								</div>
								<!-- /.card-header -->
								<div class="card">
									<div class="card-header"><h1>All Page Owner</h1></div>
									<!-- /.card-header -->
									<div class="card-body">
										<table id="example1"
											class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>ID</th>
													<th>Page Owner Name</th>
													<th>Contact Phone</th>
													<th>Age</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="pageOwner:${pageOwnerList}">
													<td th:text="${pageOwner.id}"></td>
													<td th:text="${pageOwner.name}"></td>
													<td th:text="${pageOwner.phone}"></td>
													<td th:text="${pageOwner.age}"></td>
													<td>
														<button type="button" data-toggle="modal"
															data-target="#updateModal"
															th:onclick="editPageOwner( [[${pageOwner}]] );"
															class="btn btn-success btn-xs">
															<i class="fas fa-edit"></i>
														</button>
														<button type="button" id="pageDelete"
															th:onclick="deletePageOwner( [[${pageOwner.id}]] );"
															class="btn btn-danger btn-xs">
															<i class="far fa-trash-alt"></i>
														</button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th>ID</th>
													<th>Page Owner Name</th>
													<th>Contact Phone</th>
													<th>Age</th>
													<th>Action</th>
												</tr>
											</tfoot>
										</table>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
		</section>
		<!-- Modal Register -->
		<div class="modal fade" id="registerModal">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Register Page Owner</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-primary">
							<div class="card-header"></div>
							<!-- /.card-header -->
							<!-- form start -->
							<form>
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>ID</label> <input type="text"
													class="form-control" disabled="true">
											</div>
											<div class="form-group">
												<label>Page Owner Name</label> <input type="text"
													class="form-control" id="registerPageOwnerName">
											</div>
											<div class="form-group">
												<label>Contact Phone</label> <input type="text"
													class="form-control" id="registerPhone">
											</div>
											<div class="form-group">
												<label>Age</label> <input type="text"
													class="form-control" id="registerAge">
											</div>
										</div>
									</div>
								</div>
								<!-- /.card-body -->
							</form>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"
							id="registerPageOwner">Save</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- Modal Update -->
		<div class="modal fade" id="updateModal">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Update Page Owner</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-primary">
							<div class="card-header"></div>
							<!-- /.card-header -->
							<!-- form start -->
							<form>
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>ID</label> <input type="text"
													class="form-control" id="updateID" disabled="true">
											</div>
											<div class="form-group">
												<label>Page Owner Name</label> <input type="text"
													class="form-control" id="updatePageOwnerName">
											</div>
											<div class="form-group">
												<label>Contact Phone</label> <input type="text"
													class="form-control" id="updatePhone">
											</div>
											<div class="form-group">
												<label>Age</label> <input type="text"
													class="form-control" id="updateAge">
											</div>
										</div>
									</div>
								</div>
								<!-- /.card-body -->
							</form>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="updatePageOwner">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>

	<div th:replace="fragments/footer :: footer" />

	<script>
		$(function() {
			
			/*=========================
			 *  		table 
			 *========================*/
			$("#example1").DataTable(
					{
						"responsive" : true,
						"lengthChange" : false,
						"autoWidth" : false,
						"ordering": false,
						"buttons" : [ "copy", "csv", "excel", "pdf", "print", "colvis" ]
					}
					).buttons().container().appendTo( '#example1_wrapper .col-md-6:eq(0)' );
			
			/*=========================
			 *  	Register Function 
			 *========================*/
			$('#registerPageOwner').click( function() {
				
		        var registerPageOwnerName 	=  $("#registerPageOwnerName").val();
		        var registerPhone 			=  $("#registerPhone").val();
		        var registerAge 			=  $("#registerAge").val();
		        
		        if ( registerPageOwnerName == "" ) {
		        	Swal.fire(
						      'Required!',
						      'Page Owner Name Should not be empty',
						      'success'
						    )
		        } else {
		        	
		        	Swal.fire({
						  title: 'Are you sure?',
						  text: "You want to add new!",
						  icon: 'warning',
						  showCancelButton: true,
						  confirmButtonColor: '#3085d6',
						  cancelButtonColor: '#d33',
						  confirmButtonText: 'Yes, Add New!'
						}).then((result) => {
						  if (result.isConfirmed) {	  
							  var requestData = {
												  	"body":{
											 				 "name"		: registerPageOwnerName,
											 				 "phone"	: registerPhone,
											 				 "age"		: registerAge
										  				   }
										  		};
							  $.ajax({
							        type: "POST",
							        contentType: "application/json",
							        url: "/api/v1/page_owner/register",
							        data: JSON.stringify(requestData),
							        dataType: 'json',
							        cache: false,
							        timeout: 600000,
							        success: function (data) {
							           var header = data.header;
							           if ( "Y" == header.successYN ) {
							        	   Swal.fire(
												      'Add!',
												      'Data has been added.',
												      'success'
												    )
										  // reload page
										  setTimeout("window.location.reload()",1000);
							           } else {
							        	   Swal.fire(
								        		      'Fail',
								        		      'Cannot add new data',
								        		      'error'
								         	)
							           }
							        },
							        error: function (e) {
							        	Swal.fire(
							        		      'Fail',
							        		      'Cannot add new data',
							        		      'error'
							         	)

							        }
							    });
						  }
						})
		        }
				
			});
			
			/*=========================
			 *  	Update Function 
			 *========================*/
			$('#updatePageOwner').click( function() {  
				var updateID 			=  $("#updateID").val();
		        var updatePageOwnerName =  $("#updatePageOwnerName").val();
		        var updatePhone 		=  $("#updatePhone").val();
		        var updateAge 			=  $("#updateAge").val();
				
		        if ( updatePageOwnerName == "" ) {
		        	Swal.fire(
						      'Required!',
						      'Page Owner Name Should not be empty',
						      'success'
						    )
		        } else {
				        
				        Swal.fire({
							  title: 'Are you sure?',
							  text: "You want to update!",
							  icon: 'warning',
							  showCancelButton: true,
							  confirmButtonColor: '#3085d6',
							  cancelButtonColor: '#d33',
							  confirmButtonText: 'Yes, update it!'
							}).then((result) => {
							  if (result.isConfirmed) {	  
								  var requestData = {
													  	"body":{
												 				 "id"		: updateID,
												 				 "name"		: updatePageOwnerName,
												 				 "phone"	: updatePhone,
												 				 "age"		: updateAge
											  				   }
											  		};
								  $.ajax({
								        type: "POST",
								        contentType: "application/json",
								        url: "/api/v1/page_owner/update",
								        data: JSON.stringify(requestData),
								        dataType: 'json',
								        cache: false,
								        timeout: 600000,
								        success: function (data) {
								           var header = data.header;
								           if ( "Y" == header.successYN ) {
								        	   Swal.fire(
													      'Update!',
													      'Data has been updated.',
													      'success'
													    )
											  // reload page
											  setTimeout("window.location.reload()",1000);
								           } else {
								        	   Swal.fire(
									        		      'Fail',
									        		      'Cannot update data',
									        		      'error'
									         	)
								           }
								        },
								        error: function (e) {
								        	Swal.fire(
								        		      'Fail',
								        		      'Cannot update data',
								        		      'error'
								         	)

								        }
								    });
							  }
							})
		        }
		        
			 });  
			
		}); // end function()
		
		//	
		function registerModel(){
			// init value
            $("#registerPageOwnerName").val( '' );
            $("#registerPhone").val( '' );
            $("#registerAge").val( 0 );
		}
		/*=========================
		 *  	Edit Modal 
		 *========================*/
		function editPageOwner( PageOwner ) {
				// init value
	            $("#updateID").val( PageOwner.id );
	            $("#updatePageOwnerName").val( PageOwner.name );
	            $("#updatePhone").val( PageOwner.phone );
	            $("#updateAge").val( PageOwner.age );
		} // end editPageOwner()
		
		/*=========================
		 *  	Delete Function
		 *========================*/
		function deletePageOwner( ID ) {
			
			Swal.fire({
				  title: 'Are you sure?',
				  text: "You want to delete!",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				  if (result.isConfirmed) {	  
					  var requestData = {
										  	"body":{
									 				 "id": ID
								  				   }
								  		};
					  $.ajax({
					        type: "POST",
					        contentType: "application/json",
					        url: "/api/v1/page_owner/delete",
					        data: JSON.stringify(requestData),
					        dataType: 'json',
					        cache: false,
					        timeout: 600000,
					        success: function (data) {
					           var header = data.header;
					           if ( "Y" == header.successYN ) {
					        	   Swal.fire(
										      'Deleted!',
										      'Data has been deleted.',
										      'success'
										    )
								  // reload page
								  setTimeout("window.location.reload()",1000);
					           } else {
					        	   Swal.fire(
						        		      'Fail',
						        		      'Cannot delete data',
						        		      'error'
						         	)
					           }
					        },
					        error: function (e) {
					        	Swal.fire(
					        		      'Fail',
					        		      'Cannot delete data',
					        		      'error'
					         	)

					        }
					    });
				  }
				})
		} // end deletePageOwner()
		
	</script>
</body>
</html>